/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 5px;
  padding: 0;
  min-height: 100vh;
  background-color: #000000;
  color: #9ad79b;

}

header{
  position: sticky;
  top: 0;
  border-bottom: 1px dotted #9ad79b;
  padding: 20px 0px 20px 0px;
  background-color: #000000;
  z-index: 1;
  
}

main{
height: auto;


}
.content{
height: 120px;
border-bottom: 1px dotted #9ad79b;
padding: 20px;

}

.content button{
margin-bottom: 20px;
padding: 2px;
}
.sidebar{
  border: 1px dotted #9ad79b;
  width: 20%;
  text-align: center;
  padding: 20px 0px 20px 0px;
  position: absolute;
  right: 0;
  margin-top: 20px;
  
 
}


.sidebar ul{
list-style-type: style disc;
list-style-position: inside;
line-height: 25px;
}

.features{

  width: 100%;
  text-align: center;
  padding-top: 250px;
  border-bottom: 1px dotted #9ad79b;
  padding-bottom: 20px;
}
.feature{
text-align: center;
}
footer{
  padding-top: 150px;
  text-align: center;
}