*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    
    background-color: black;
    color: white;

}

header, footer{
    height: 10vh;
}

main{
    min-height: 80vh;
}

.img_logo{
    width: 200px;
    height: 50px;
}

header{
    background-image: url(./img/Diseño\ sin\ título\ \(39\).png);
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
padding: 50px;
    align-items: center;
}
header > nav{
    flex-grow: 1;
    
}
nav > ul{
    
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: brown;
}

ul > li > a{
    text-decoration: none;
    color: white;
}